.complex-block {
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding-top: 238px;
	padding-bottom: 193px;
	&__number {
		position: absolute;
		top: 62px;
		left: 50%;
		width: 74px;
		margin-left: -37px;
		font-size: 72px;
		line-height: 1.33;
		font-weight: 300;
		color: rgba(255, 199, 0, 0.3);
		&::before {
			content: '';
			position: absolute;
			top: -134px;
			left: 50%;
			margin-left: -2px;
			width: 2px;
			height: 134px;
			background-color: #FFC729;
		}
	}
	&__heading {
		display: block;
		margin-bottom: 64px;
		margin-left: 70px;
	}
	&__title {
		display: block;
		font-weight: 500;
		font-size: 36px;
		line-height: 1.33;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #55B4F7;
		margin-bottom: 10px;
	}
	&__description {
		display: block;
		width: 100%;
		max-width: 730px;
		font-size: 18px;
		line-height: 1.33;
		font-weight: 300;
		color: #fff;
	}
	&__photo-block {
		width: 100%;
		max-width: 570px;
		background-color: #fff;
	}
	&__photo {
		display: block;
		width: 570px;
		height: 300px;
		background-repeat: no-repeat;
		background-size: cover;
		background-position: center center;
	}
	&__photo-inner {
		padding-top: 43px;
		padding-bottom: 50px;
		padding-left: 70px;
		padding-right: 70px;
	}
	&__photo-text {
		display: block;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.33;
		color: #4B575C;
	}
	&__list {
		display: block;
		margin-top: 30px;
	}
	&__list ul {
		list-style-type: none;
		margin: 0;
		padding-left: 45px;
	}
	&__list ul li:not(:last-child) {
		margin-bottom: 50px;
	}
	&__list ul li.active {
		position: relative;
		color: #55B4F6;
		&::before {
			content: '';
			position: absolute;
			top: 10px;
			left: -50px;
			width: 30px;
			height: 30px;
			background-image: url('../img/snowflake.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
	}
	&__tab-content {
		display: none;
	}
	&__tab-content.active {
		display: block;
	}
}