.distributor-block {
	position: relative;
	background-image: url('../img/distributor-bg.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin-top: -345px;
	padding-top: 641px;
	padding-bottom: 156px;
	&__number {
		position: absolute;
		top: 415px;
		left: 50%;
		margin-left: -38px;
		font-size: 72px;
		line-height: 1.33;
		font-weight: 300;
		color: rgba(255, 199, 0, 0.3);
		z-index: 102;
		&::before {
			content: '';
			position: absolute;
			top: -134px;
			left: 36px;
			width: 2px;
			height: 134px;
			background-color: #FFC729;
		}
	}
	&__heading {
		display: block;
		margin-bottom: 63px;
		margin-left: 70px;
	}
	&__title {
		display: block;
		width: 100%;
		max-width: 900px;
		margin-bottom: 8px;
		font-weight: 500;
		font-size: 36px;
		line-height: 1.33;
		letter-spacing: 0.1em;
		text-transform: uppercase;
		color: #fff;
	}
	&__description {
		display: block;
		font-weight: 300;
		font-size: 18px;
		line-height: 1.33;
		color: #fff;
	}
	&__pagination {
		position: relative;
		z-index: 100;
		display: flex;
		flex-direction: row;
		align-items: center;
		margin-top: 30px;
	}
	&__pagination .swiper-pagination-bullet {
		cursor: pointer;
		outline: 0;
		opacity: 1;
		width: 7px;
		height: 7px;
		border-radius: 50%;
		font-size: 0;
		background-color: #4CB1F7;
		&:not(:last-child) {
			margin-right: 40px;
		}
	}
	&__pagination .swiper-pagination-bullet-active {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 45px;
		height: 45px;
		border: 1px solid #4CB1F7;
		color: #4CB1F7;
		font-weight: 300;
		font-size: 20px;
		line-height: 1.35;
		background: none;
	}
	&__wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}
	&__slider-wrapper {
		width: 600px;
	}
	&__content-block {
		width: 500px;
	}
	&__content-title {
		display: block;
		margin-bottom: 18px;
		font-weight: 500;
		font-size: 30px;
		line-height: 1.4;
		color: #fff;
	}
	&__content-text {
		display: block;
		font-size: 16px;
		font-weight: 300;
		line-height: 1.3125;
		color: #fff;
		p {
			margin: 0;
			margin-bottom: 64px;
		}
	}
	.btn--distributor {
		width: 210px;
	}
}