.main-page-wrap {
	position: relative;
	display: block;
	min-height: 100vh;
}

.main-page-blocks {
	width: 100%;
	flex-shrink: 0;
}

.page-header {
	&__row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}








