.main-button-prev, .main-button-next,
.partners-button-prev, .partners-button-next,
.video-button-prev, .video-button-next,
.project-button-prev, .project-button-next {
	position: absolute;
	top: 230px;
	bottom: auto;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('../img/arrow.svg');
	background-repeat: no-repeat;
	background-size: 17px 32px;
	background-position: center center;
	outline: none;
	z-index: 100;
}

.main-button-prev, .main-button-next {
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.1);
}

.main-button-prev {
	left: 100px;
}

.main-button-next {
	right: 100px;
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 17px 32px;
	background-position: center center;
}

.partners-button-prev, .partners-button-next  {
	top: 0;
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.1);
}

.partners-button-prev {
	left: -130px;
}

.partners-button-next {
	right: -130px;
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 17px 32px;
	background-position: center center;
}

.video-button-prev, .video-button-next {
	top: 260px;
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.1);
}

.video-button-prev {
	left: -115px;
}

.video-button-next {
	right: -115px;
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 17px 32px;
	background-position: center center;
}

.project-button-prev, .project-button-next {
	top: 186px;
	bottom: auto;
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.1);
}

.project-button-prev {
	left: -110px;
}

.project-button-next {
	right: 28px;
	background-image: url('../img/arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 17px 32px;
	background-position: center center;
}

.distributor-button-prev, .distributor-button-next {
	position: absolute;
	top: 172px;
	bottom: auto;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #fff;
	background-image: url('../img/distributor-arrow.svg');
	background-repeat: no-repeat;
	background-size: 9px 16px;
	background-position: center center;
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.3);
	outline: none;
	z-index: 100;	
	box-shadow: 2px 5px 6px rgba(36, 52, 75, 0.3);
}

.distributor-button-prev {
	left: 45px;
}

.distributor-button-next {
	left: auto;
	right: 45px;
	background-image: url('../img/distributor-arrow-right.svg');
	background-repeat: no-repeat;
	background-size: 9px 16px;
	background-position: center center;
}

#partners_slider .swiper-wrapper {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#project_slider {
	overflow: visible;
}

#project_slider .swiper-slide {
	width: 1030px !important;
}

#project_slider .swiper-slide:not(.swiper-slide-active) {
  opacity: 0.5;
  transition: all .3s ease-in-out;
}