.popup-block {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 600;
	width: 100%;
	height: 100%;
	min-height: 100vh;
	overflow-y: auto;
	color: #000;
	display: none;
	&__overlay {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding-top: 60px;
		padding-bottom: 60px;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
		background-color: rgba(0,0,0,0.8);
	}
	&__popup {
		position: relative;
		background-color: #fff;
		.inner-content {
			height: auto;
		}
	}
	&__close {
		position: absolute;
		top: 20px;
		right: 20px;
		width: 50px;
		height: 50px;
		z-index: 1000;
		&:after,
		&:before {
			content: "";
			display: block;
			width: 34px;
			height: 3px;
			background-color: #4B575C;
			transition: all 0.15s ease-in;
			position: absolute;
			top: 50%;
			left: 50%;
			border-radius: 1px;
			margin-top: -1px;
			margin-left: -17px;
		}
		&:after {
			transform: rotate(-45deg);
		}
		&:before {
			transform: rotate(45deg);
		}
		&:hover {
			&:after,
			&:before {
				background-color: #000;
			}
		}
	}
}