<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="page-footer__wrapper">
					<a href="#" class="page-footer__logo">
						<img src="img/logo.png" alt="">
					</a>
					<div class="page-footer__privacy-block">
						<span class="page-footer__copyright">© 2017–2019 ООО «Источник Холода»</span>
						<a href="#" class="page-footer__politic-link">Политика конфиденциальности</a>
					</div>
					<a href="#" class="page-footer__author-link">
						<span>Сделано в</span>
						<img src="img/copyright.svg" alt="">
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>