<header id="header" class="page-header">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="page-header__row">
					<a href="index.html" class="page-header__logo">
						<img src="img/logo.png" alt="">
					</a>
					<div class="page-header__contacts-block">
						<span class="page-header__address">г. Краснодар, ул. Садовая, 218</span>
						<a href="#" class="page-header__phone-link">8-800-000-00-00</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>





