<div class="popup-block" id="popup_order">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
				<div class="popup-block__wrapper">
					<div class="popup-block__content-block">
						<div class="popup-block__content-icon">
							<svg width="80" height="80">
								<use xlink:href="#sketch"></use>
							</svg>
						</div>
						<div class="popup-block__content-title">Заказать документ</div>
						<p class="popup-block__content-text">Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt.</p>
					</div>
					<form action="" class="popup-block__form">
						<div class="about-block__input-wrapper">
							<input type="text" id="popup_name" name="popup_name" class="text-input about-block__input not-empty" required>
							<label for="popup_name" class="about-block__label">Ваше имя</label>
						</div>
						<div class="about-block__input-wrapper">
							<input type="text" id="popup_email" name="popup_email" class="text-input about-block__input not-empty" required>
							<label for="popup_email" class="about-block__label">E-mail</label>
						</div>
						<span class="popup-block__personal-info">Нажав на кнопку, я даю согласие на обработку персональных данных</span>
						<button class="btn btn--send" type="submit">Отправить</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>