<div class="popup-block" id="popup_form">
	<div class="popup-block__overlay">
		<div class="popup-block__popup">
			<div class="inner-content">
				<a href="javascript:;" data-toggle="dismiss" class="popup-block__close"></a>
				<div class="payment-block__form-wrapper">
					<div class="payment-block__form-title">Заполните форму ниже и мы свяжемся с Вами в ближайшее время</div>
					<div class="payment-block__wrapper">
						<form action="" class="payment-block__form-block">
							<div class="payment-block__input-wrapper">
								<input type="text" class="text-input payment-block__input" name="payment_name" placeholder="Ваше имя" required>
							</div>
							<div class="payment-block__input-wrapper">
								<input type="tel" class="text-input payment-block__input" name="payment_tel" placeholder="Телефон" required>
							</div>
							<span class="payment-block__form-personal">Нажимая на кнопку, Вы даете согласие на обработку персональных данных</span>
							<button class="btn btn--payment" type="submit">Оставить заявку</button>
						</form>
						<div class="payment-block__photo-block">
							<img src="img/payment-photo.png" alt="">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>