@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 300;
  font-display: fallback;
  src: local('Gerbera Light'), local('Gerbera-Light'),
        url('../fonts/Gerbera-Light.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Gerbera-Light.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 500;
  font-display: fallback;
  src: local('SFProDisplay Medium'), local('Gerbera-Medium'),
        url('../fonts/Gerbera-Medium.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Gerbera-Medium.woff') format('woff'), /* Modern Browsers */
}

@font-face {
  font-family: 'Gerbera';
  font-style: normal;
  font-weight: 900;
  font-display: fallback;
  src: local('Gerbera Black'), local('Gerbera-Black'),
        url('../fonts/Gerbera-Black.woff2') format('woff2'), /* Super Modern Browsers */
        url('../fonts/Gerbera-Black.woff') format('woff'), /* Modern Browsers */
}


